svg.sml(xmlns='http://www.w3.org/2000/svg', viewbox='6.875 -44.844 39 105.969')
    path(fill='#FFFFFF', d='M44.875,7.721c0,0.863-0.225,1.728-0.67,2.5L17.32,56.786c-1.38,2.392-4.438,3.211-6.83,1.83 c-2.391-1.38-3.212-4.438-1.83-6.83L34.101,7.721L8.661-36.343c-1.383-2.393-0.563-5.451,1.83-6.83 c2.392-1.381,5.449-0.563,6.83,1.83L44.205,5.222C44.65,5.993,44.875,6.858,44.875,7.721z')
