svg.big(xmlns='http://www.w3.org/2000/svg', viewbox='-7.875 -44.844 67.667 105.969')
    path(fill='#FFFFFF', d='M57.32,51.875L31.881,7.812L57.32-36.254c1.383-2.392,0.562-5.45-1.829-6.83 c-2.393-1.381-5.449-0.562-6.83,1.83L26.375-2.653L4.089-41.252c-1.381-2.393-4.438-3.211-6.83-1.83 c-2.393,1.379-3.213,4.438-1.829,6.83L20.869,7.811L-4.57,51.876c-1.382,2.392-0.562,5.45,1.829,6.83 c2.393,1.381,5.449, 0.562,6.83-1.83l22.286-38.6l22.286,38.599c1.381,2.393,4.438,3.211,6.83,1.83 C57.884,57.326,58.704,54.268,57.32,51.875z')
