//@font-face {
//	font-family: 'Homestead-Display';
//	src: url('/fonts/Homestead-Display.eot');
//	src: url('/fonts/Homestead-Display.woff') format('woff'), url('/fonts/Homestead-Display.ttf') format('truetype'), url('/fonts/Homestead-Display.svg') format('svg');
//	font-weight: normal;
//	font-style: normal;
//}

@font-face {
	font-family: 'Homestead-Regular';
	src: url('../fonts/Homestead-Regular.eot');
	src: url('../fonts/Homestead-Regular.woff') format('woff'), url('../fonts/Homestead-Regular.ttf') format('truetype'), url('../fonts/Homestead-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}