@import 'reset';
@import 'fonts';

//--------  Size config   ---------
@mixin size() { width: 950px; position: relative; margin: auto;}

//--------  Media Queries   ---------

@mixin responsive($media) {
    @if $media == vld {
        @content;
    } @else if $media == ld {
        @media only screen and (max-width: 1919px) { @content; }
    } @else if $media == id {
        @media only screen and (max-width: 1500px) { @content; }
    } @else if $media == iid {
        @media only screen and (max-width: 1340px) { @content; }
    } @else if $media == nd {
        @media only screen and (max-width: 1200px) { @content; }
    } @else if $media == sd {
        @media only screen and (max-width: 979px) { @content; }
    } @else if $media == lp {
        @media only screen and (max-width: 767px) { @content; }
    } @else if $media == sp {
        @media only screen and (max-width: 480px) { @content; }
    }
}

//--------  Color config  ---------
$white: #fff;
$blue: #2573ba;
$blue2: #185d9c;
$blue3: #104b81;
$blue4: #073865;
$grey: #252525;
$grey-white: #dedede;

$pattern-white: url('/images/foil.png');
$pattern-blue: url('/images/pattern_bis.png');
$pattern-black: url('/images/textured_az.jpg');
@mixin pattern($pattern) {background: $pattern repeat;}
@mixin background-base() {background-size: 100%; background-repeat: no-repeat; background-position: center center;}

//--------  Typos config   ---------
$font-light: 300;
$font-reg: 400;
$font-big: 700;
$font-size-p: 1.2em;
$font-size-h1: 2em;
$font-size-h2: 1.8em;
$font-size-li: 1em;

@mixin typo-quick($size, $weight, $color) {
    font-family: "Quicksand", sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin typo-home($size, $weight, $color) {
    font-family: "Homestead-Regular", sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

//--------  Global config  ---------
section {
    display: block;
    position: relative;
    width: 100%;
}

body {
    @include pattern($pattern-white);
    color: $white;
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
    widows: 100%;
}

.abs {position: absolute;}
.absL50 {left: 50%; position: absolute;}
.top {top: 0;}
.bottom {bottom: 0;}
.left {left: 0;}
.right {right: 0;}

//--------  Header   ---------
header {
    z-index: 500;
    position: fixed;
    top: 50%;
    margin-top: -80px;
    height: 160px;
    background-color: $grey-white;
    ul:hover {width: 160px;}
    ul {
        transition-property: width;
        transition-duration: .3s;
        transition-timing-function: ease-in;
        height: 100%;
        width: 40px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, .5) 2px 0 10px;

        li:hover .lineDeco {width: 10px;}
        li {
            cursor: pointer;
            height: 40px;
            width: 100%;
            position: relative;
            
            img {
                margin-top: 2.5px;
                margin-left: 2.5px;
                height: 35px;
                width: 35px;
                display: inline-block;
            }

            .lineDeco {
                transition-property: width;
                transition-duration: .3s;
                z-index: 550;
                height: 100%;
                width: 5px;
            }

            .textBlock {
                @include typo-quick($font-size-li, $font-reg, $grey);
                left: 40px;
                height: 40px;
                width: 120px;
                background-color: $white;

                &.active {color: $white;}            
            }

            .text {                      
                line-height: 40px;
                margin-left: 5px;
                height: 100%;
                width: 100%;
            }
        }

        .home, 
        .home .textBlock.active, 
        .home .lineDeco {
            background-color: $blue;
        }

        .about, 
        .about .textBlock.active,
        .about .lineDeco {background-color: $blue2;}

        .portfolio,
        .portfolio .textBlock.active,
        .portfolio .lineDeco {background-color: $blue3;}

        .contact,
        .contact .textBlock.active,
        .contact .lineDeco {background-color: $blue4;}

        .textBlock.active::after {
            content: '';
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            left: 40px;
            position: fixed;
            top: 50%;
        }

        .home .textBlock.active::after {margin-top: -68px; border-left: 8px solid $blue;}
        .about .textBlock.active::after {margin-top: -28px; border-left: 8px solid $blue2;}
        .portfolio .textBlock.active::after {margin-top: 12px; border-left: 8px solid $blue3;}
        .contact .textBlock.active::after {margin-top: 52px; border-left: 8px solid $blue4;}
    }
}

//--------  Sections   ---------
//#bg_white {
//    width: 100%;
//    height: 2000px;
//    position: absolute;
//    z-index: 0;
//    @include pattern($pattern-white);
//}

#home {
    z-index: 0;
    background-size: cover;
    background-position: center center; 
    background-image: url('/images/bg_1.jpg');
    background-attachment: fixed;

    img {
        @mixin img-home($height, $screen) {
            @include responsive($screen) {
                $home-img-height:$height;
                $home-img-width:$home-img-height*87.5/100;
                height: $home-img-height;
                width: $home-img-width;
                top: 30%;
                margin-top: -$home-img-height/2;
                margin-left: -$home-img-width/2;
            }
        }

        @include img-home(350px, vld);
        @include img-home(300px, ld);
        @include img-home(250px, nd);
        @include img-home(200px, sd);
        @include img-home(150px, lp);
        @include img-home(100px, sp);
        z-index: 50;
    }

    .wrapper {
        z-index: 50;
        top: 80%;
        background-color: rgba(0, 0, 0, .2);
        width: 100%;
        height: 100px;
        margin-top: -50px;
        overflow: hidden;

        @include responsive(lp) {
            height: 80px;
        }

        @include responsive(sp) {
            height: 50px;
        }

        .cpt {
            width: 550px;
            height: 100%;
            margin-left: -275px;
            white-space: nowrap;

            @include responsive(lp) {
                width: 300px;
                margin-left: -150px;
            }
        }
    }

    .right.titleDecalage {
        margin-right: -40px;

        @include responsive(lp) {
            margin-right: -80px;
        }  

        @include responsive(sp) {
            margin-right: -55px;
        }
    }

    .left.titleDecalage {
        margin-left: 20px;

        @include responsive(lp) {
            margin-left: -35px;
        }

        @include responsive(sp) {
            margin-left: -20px;
        }
    }

    p {
        @include typo-quick($font-size-h1+.5, $font-light, $white);
        
        vertical-align: middle;
        display: inline-block;
        line-height: 100px;

        @include responsive(lp) {
            line-height: 80px;
            font-size: $font-size-h1;
        }

        @include responsive(sp) {
            line-height: 50px;
            font-size: -.2+$font-size-h1;
        }
    }

    svg {        
        $home-svg-width: 80px;
        $home-svg-height: $home-svg-width*87.5/100;
        height: $home-svg-height;
        width: $home-svg-width;
        margin-top: -$home-svg-height/2;
        margin-left: -$home-svg-width/2;
        top: 50%;

        @include responsive(lp) {
            $home-svg-width: 50px;
            $home-svg-height: $home-svg-width*87.5/100;
            height: $home-svg-height;
            width: $home-svg-width;
            margin-top: -$home-svg-height/2;
            margin-left: -$home-svg-width/2;
        }

        @include responsive(sp) {
            $home-svg-width: 30px;
            $home-svg-height: $home-svg-width*87.5/100;
            height: $home-svg-height;
            width: $home-svg-width;
            margin-top: -$home-svg-height/2;
            margin-left: -$home-svg-width/2;
        }
    }
}

.backgroundPattern {
    @include pattern($pattern-white);
    position: absolute;
    z-index: 50;
    height: 2000px;
    width: 100%;
}

#citation { 
    @include pattern($pattern-white);
    z-index: 100;
    height: 600px;
    
    @include responsive(ld) {
        height: 400px;
    }

    .boxShadows {
        position: absolute;
        z-index: 200;
        top: -10px;
        height: 10px;
        width: 100%;
        background-image: linear-gradient(rgba(37, 37, 37, 0) 0%, rgba(37, 37, 37, .15) 75%, rgba(37, 37, 37, .4) 100%);
    }

    .wrapper {
        @mixin cit-wrapper($width, $heigth, $screen) {
            @include responsive($screen) {
                margin-left: -$width/2;
                width: $width;
                $citation-wrapper-height: $heigth;
                height: $citation-wrapper-height;
                margin-top: -$citation-wrapper-height/2;
                line-height: $citation-wrapper-height;
            }
        }

        @include size();
        @include cit-wrapper(1200px, 250px, vld);
        @include cit-wrapper(950px, 200px, ld);
        @include cit-wrapper(700px, 180px, nd);
        @include cit-wrapper(500px, 200px, sd);
        @include cit-wrapper(300px, 200px, lp);

        position: absolute;
        left: 50%;
        top: 50%;

        .responsiveBreak {
            display: none;

            @include responsive(sd) {
                display: inline;
            }
        }

        p {
            @include typo-home($font-size-h1+.5, $font-reg, $grey);
            text-align: center;
            line-height: normal;
            vertical-align: middle;
            display: inline-block;

            @include responsive(ld) {
                font-size: $font-size-h1;
            }

            @include responsive(nd) {
                font-size: -.5+$font-size-h1;
            }
        }

        .img {
            @include background-base();
            background-image: url('/images/nav_bg.svg');
            left: 50%;
            $citation-img-height: 20px;            
            height: $citation-img-height;
            width: $citation-img-height;            
            margin-left: -$citation-img-height/2;
        }

        .top.img {margin-top: -10px;}
        .bottom.img {margin-bottom: -10px;}

        span {
            height: 2px;
            width: 100px;
            background-color: $grey;
        }       

        .leftDeco {left: 50%;margin-left: -140px;}
        .rightDeco {left: 50%;margin-left: 40px;}
    }
}

#about {
    @include pattern($pattern-blue);
    z-index: 200;
    height: 400px;
    overflow: hidden;
    box-shadow: $grey 2px 2px 10px;

    @include responsive(nd) {
        height: 600px;
    }

    @include responsive(lp) {
        height: 750px;
    }

    @include responsive(sp) {
        height: 900px;
    }

    .wrapper {
        @include size();
        width: 1500px;
        height: 100%;

        @include responsive(ld) {
            width: 1000px;
            margin-left: 10%;
        }

        @include responsive(id) {
            width: 900px;
            margin-left: 50px;
        }

        @include responsive(nd) {
            width: 600px;
            margin: auto;
        }

        @include responsive(lp) {
            width: 80%;
        }

        .line {
            height: 2px;
            left: -100%;
            right: 100%;
            margin-top: 76px;
            margin-right: 60px;
            background-color: $white;

            @include responsive(id) {
                display: none;
            }
        }

        .circleSyb {
            margin-right: -23px;
            margin-top: -7px;
            height: 18px;
            width: 16px;
        }

        p {
            @include typo-quick($font-size-p+.3, $font-reg, $white);
            width: 1000px;
            margin-top: 60px;
            left: 0;
            line-height: 1.5em;

            @include responsive(ld) {
                font-size: $font-size-p+.2;
                width: 800px;
            }

            @include responsive(id) {
                font-size: $font-size-p;
                margin-top: 80px;
                width: 700px;
            }

            @include responsive(iid) {
                margin-top: 70px;
                width: 600px;
            }

            @include responsive(nd) {
                margin-top: 0;
                width: 100%;
            }
        }
    }

    .img {
        @include background-base();
        width: 650px;
        height: 100%;
        background-image: url('/images/me.png');
        
        @include responsive(nd) {
            background-image: url('/images/me_resp.png');
            width: 250px;
            height: 300px;
            position: relative;
            margin: auto;
        }
    }

}

#competence {
    @include pattern($pattern-white);
    z-index: 100;
    height: 1000px;

    @include responsive(iid) {
        height: 100%;
    }

    h2 {
        @include typo-home($font-size-h2+.3, $font-reg, $grey);
        width: 100%;
        text-align: center; 
    }

    .cptTxt {
        @include background-base();
        background-image: url('/images/triangle_shadows.svg');
        height: 210px;
        width: 450px;
        margin: auto;
        position: relative;

        span {
            margin: auto;
            z-index: 150;
            height: 1px;
            background-color: $grey;
            width: 220px;
            display: block;
            position: relative;
        }

        .topLine {
            top: 35px;
        }

        .bottomLine {
            top: 10px;
        }

        h2 {
            padding-top: 50px;
            font-size: $font-size-h1+.5;
        }
    }

    .wrapper {
        @include size();
        height: 100%;

        @include responsive(iid) {
            width: 450px;
            padding-bottom: 250px;
        }



        >div {
            @include background-base();
            height: 720px;
            width: 436px;
            position: relative;
            background-image: url('/images/competence_bg.svg');

            @include responsive(iid) {
                height: 650px;
                width: 510px;
                background-image: url('/images/competence_bg_responsive.svg');

                #bgGraph,
                #inProg,
                .leftProg {
                    display: none;
                }

                span {
                    height: 2px;
                    background-color: $grey;
                    display: block;
                }
            }

            h2 {
                opacity: 1;
                margin-top: 290px;

                @include responsive(iid) {
                    margin-top: 0;
                    padding-top: 190px;
                }
            }

            ul {
                @include typo-quick($font-size-li+.3, $font-reg, $grey);
                opacity: 1;
                width: 400px;
                line-height: 1.8em;
                margin-top: 50px;
                margin-left: 60px;

                @include responsive(iid) {
                    margin-left: 55px;
                    text-align: center;
                }             
            }

            svg {
                width: 200px;
                margin-left: -100px;
                top: 60px;
            }

            #bgGraph,
            #inGraph,
            #bgProg,
            #inProg .nb {
                opacity: 1;
            }

            #progResp {
                position: absolute;
                margin-top: 14px;
                margin-left: 80px;
                width: 21.8px;
                display: none;

                @include responsive(iid) {
                    display: block;
                }
            }

            &.floatLeft {
                float: left;
                margin-left: -20px;

                @include responsive(iid) {
                    float: none;
                    margin: auto;
                    margin-top: -50px;
                    margin-left: -30px;                    
                }

                svg {
                    @include responsive(iid) {
                        width: 135px;
                        margin-left: 60px;
                        top: 126px;
                    }
                }

                span {
                    @include responsive(iid) {
                        width: 210px;
                        margin-left: 160px;
                    }
                }
            }

            &.floatRight {
                float: right;
                margin-right: -20px;

                @include responsive(iid) {
                    float: none;
                    margin: auto;
                    margin-top: -50px;
                    margin-left: -30px;
                }

                svg {
                    @include responsive(iid) {
                        width: 100px;
                        margin-left: 70px;
                        top: 155px;
                    }
                }

                span {
                    @include responsive(iid) {
                        width: 285px;
                        margin-top: 9px;
                        margin-left: 108px;
                    }
                }
            }
        }        
    }
}

#portfolio {
    @include pattern($pattern-black);
    z-index: 200;
    height: 100%;
    border-bottom: 2px solid $white;
    border-top: 5px solid #454545;

    .cptTxt {
        @include background-base();
        height: 210px;
        width: 450px;
        background-image: url('/images/triangle_shadows_2.svg');
        margin: auto;
        position: relative;
        //top: -160px;
        top: -210px;
        
        .overflow {
            height: 100%;
            width: 407px;
            margin: auto;
            overflow: hidden;
        }

        svg {
            z-index: 250;
            position: absolute;
            left: 50%;
            top: 20px;
            height: 40px;
            margin-left: -20px;
            cursor: pointer;
        }

        h2 {
            margin-top: 135px;
            font-family: "Arvo", sans-serif;
            font-size: $font-size-h1+.5;
            font-weight: $font-big;
            width: 100%;
            text-align: center;
            padding-top: 13px;
        }

        span {
            height: 2px;
            background-color: $white;
            width: 325px;
            display: block;
            position: relative;

            &.topLine {
                left: 80px;
                top: 140px;
            }

            &.bottomLine {
                top: 5px;
                left: 0;
            }
        }
    }
    
    .wrapper {
        @include size();
        margin-top: -70px;

        ul {
            height: 100%;
            width: 100%;
            font-size: 0;
            padding-bottom: 70px;
            border-left: 2px solid $white;
            border-right: 2px solid $white;

            li {
                box-sizing: border-box;
                height: 350px;
                width: 350px;
                display: inline-block;
                margin-top: 100px;
                border-top: 2px solid $white;
                border-bottom: 2px solid $white;
                position: relative;
            }

            .txt {
                width: 200px;
                height: 100%;
                font-size: 21px;
                overflow: hidden;
                
                .wrapperTxt {
                    box-sizing: border-box;
                    padding: 10px;
                    width: 100%;
                    border-top: 2px solid $white;
                    margin-top: 30px;
                }

                h2 {
                    @include typo-quick($font-size-h2, $font-reg, $white);
                }

                h3 {
                    @include typo-quick($font-size-li, $font-reg, $white);
                }
                
            }

            li:nth-child(even) {
                margin-left: 250px;
                border-left: 2px solid $white;

                .txt {
                    left: 0;
                    margin-left: -200px;
                    text-align: right;
                }

                .wrapperTxt {margin-left: 200px;}
            }

            li:nth-child(odd) {
                border-right: 2px solid $white;

                .txt {
                    right: 0;
                    margin-right: -200px;
                }

                .wrapperTxt {margin-left: -200px;}
            }

            img {
                height: 90%;
                width: 90%;
                padding-top: 5%;
                padding-left: 5%;
            }


        }
    }
}

#cv {
    position: relative;
    z-index: 100;
    height: 800px;
    background-size: cover;
    background-image: url('/images/bg_2_fixed.jpg');
    background-attachment: fixed;
    $top-svg:35%;
    $height-svg: 185px;
    $width-svg: 215px;

    svg {
        cursor: pointer;
        width: $width-svg;
        height: $height-svg;
        margin-top: -$height-svg/2;
        margin-left: -$width-svg/2;
        top: $top-svg;

        #mainCv {
            display: block;
        }

        #eyeCv {
            opacity: 0;
        }
    }

    .lineCo {
        width: 10px;
        top: $top-svg;
        margin-top: $height-svg/2;
        margin-left: -5px;
        background-color: $white;
        opacity: .5;
    }

    .lineBottom {
        @include background-base();
        display: block;
        height: 150px;
        opacity: .7;
        width: 100%;
        background-image: $pattern-black;
    }
}

#contact {
    @include pattern($pattern-blue);
    z-index: 200;
    width: 950px;
    margin: auto;
    margin-top: -200px;
    height: 400px;

    h2 {
        @include typo-quick($font-size-h2, $font-reg, $white);
    }

    p,
    h2 {
        padding-top: 15px;
        padding-left: 15px;
    }

    .error {
        color: #ffa500;
        font-size: .8em;
    }

    ul {
        height: 200px;
        width: 45%;
        margin-top: 100px;
        margin-left: 25px;
        li:hover {opacity: 1;}
        li {
            opacity: .6;
            height: 65px;
            width: 100%;
            position: relative;

            input {
                @include typo-quick($font-size-li, $font-reg, $white);
                background: none;
                border: 0;
                margin-left: 5px;
                width: 70%;
                font-style: normal;
                color: #000;

                &::-webkit-placeholder {
                    color: #FFF;
                    font-style: italic;
                }

                &::-moz-placeholder {
                    color: #FFF;
                    font-style: italic;
                }

                &:-ms-placeholder {
                    color: #FFF;
                    font-style: italic;
                }
            }

            span {
                display: block;
                height: 1px;
                width: 100%;
                background-color: rgba(255, 255, 255, .5);
                margin-top: 5px;
            }
        }

        li:last-of-type {
            position: absolute;
            top: 70px;
            left: 52%;
            width: 45%;
            label {top: 65px;}

            textarea {
                @include typo-quick($font-size-li, $font-reg, $white);
                box-sizing: border-box;
                background: none;
                border: 1px solid rgba(255, 255, 255 , .5);
                width: 100%;
                height: 230px;
                padding: 10px;
                margin-top: 10px;
                resize: none;
                
                &[placeholder] {
                    color: $white;
                    font-style: italic;
                }
            }
        }
    }

    .submit {
        @include typo-quick($font-size-p, $font-reg, $grey-white);
        cursor: pointer;
        z-index: 250;
        height: 50px;
        width: 180px;
        margin-top: 10px;
        margin-right: -25px;
        background-color: $grey;
        box-shadow: rgba(0, 0, 0, .5) -1px 2px 2px;
        border: 0;

        &:hover {
            color: $white;
        }
    }

    .decoSubmit {
        z-index: 150;
        height: 0;
        width: 0;
        opacity: .8;
        margin-top: 60px;
        margin-right: -25px;
        border-bottom: 25.5px solid transparent;
        border-left: 25.5px solid $grey;
    }
}

#map {
    z-index: 100;
    background-size: cover;    
    background-image: url('/images/map_3.jpg');
    background-position: center top;
    height: 500px;
    margin-top: -200px;
    margin-bottom: 150px;

    span {
        @include pattern($pattern-blue);
        width: 5px;
        margin-left: -2.5px;
        bottom: 150px;

        svg {
            height: 18px;
            width: 16px;
            margin-left: -8px;
            margin-bottom: -16px;
        }
    }
}

#link {
    z-index: -100;
    height: 150px;
    background-color: $grey;
    position: fixed;
    bottom: 0;

    .wrapper {
        @include size();
        padding-top: 20px;

        .col3 {
            width: 30%;
            float: left;
            position: relative;
            margin-left: 10px;

            h2 {
                font-size: $font-size-li;
                text-decoration: none;
                line-height: 30px;
                position: relative;
            }

            span {
                height: 1px;
                background-color: $white;
                display: block;
                position: relative;
            }

            .deco1 {width: 105px;}

            .deco2,
            .deco3 {width: 245px;}

            ul {
                padding-top: 5px;
                padding-left: 5px;
            }

            li {
                font-size: $font-size-li;
            }

            a {
                text-decoration: none;
                color: $white;
            }

            a:hover,
            a:active {
                text-decoration: underline;
            }
        }

        .mrL {margin-left: 3%;}
        .col3::before {
            content: '';
            height: 100%;
            width: 1px;
            background-color: $white;
            position: absolute;
            left: -10px;
        }
    }
}
