<?php session_start(); ?>
doctype html
html
  head
    meta(charset='UTF-8')
    title Jeremy Barthoux
    meta(name="description" lang="fr" content="Jeremy Barthoux graphiste, webdesigner et développeur front-end.")
    meta(name="Keywords" content="barthoux, design, graphisme, jeremy, webdesign, front-end, devellpoppeur web, design graphique, jeremy barthoux, portfolio, annecy, geneve, mauritius")
    meta(name="robots" content="index,follow")
    meta(name="copyright" content="©2015 Jeremy Barthoux, all rights reserved.")
    meta(name="author" content="Jeremy Barthoux")
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50738320-2', 'auto');
      ga('send', 'pageview');

    link(rel="shortcut icon" type="image/x-icon" href='favicon.ico' )
    link(href='http://fonts.googleapis.com/css?family=Quicksand:400,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='styles/main.css', type='text/css')
  body
    header
      ul
        li: a(href='#home') Home
        li: a(href='#about') A propos
        li: a(href='#competence') Competence
        li: a(href='#portfolio') Portfolio
        li: a(href='#contact') Contact
      span.active
      img(src='images/jeremybarthoux_logo.svg' alt='Logo Jeremy Barthoux')
      p.responsiveMenu Menu
    section#home
      .slider
        .loader
        .wrapper
          ul
            li(style='background-image:url("images/projet/wiseapp_home.jpg");')
              a(href='#project1').wrapperTxt
                h3 The WiseApp
                p Application Design
            li(style='background-image:url("images/projet/tourmaline_home.jpg");')
              a(href='#project0').wrapperTxt
                h3 La Tourmaline
                p Web Design &amp Développement
        .pagination

      img.title(src='images/home_banner.svg' alt='Jeremy Barthoux : Graphiste et Developpeur')
      a(href='#citation').bottom
        p Scroll Down
        img.chevron(src='images/home_chevron.svg')
        img.flecheHome(src='images/home_fleche.svg')
    .backgroundPattern
    section#citation
      .boxShadows
      .wrapper
        .decoWrapperTop
          span.abs.top.leftDeco
          .abs.top.img
          span.abs.top.rightDeco
        p L'ouverture d'esprit,
            br.responsiveBreak
            |  la persévérance et la méthodologie sont sources de création.
        .decoWrapperBottom
          span.abs.bottom.leftDeco
          .abs.bottom.img
          span.abs.bottom.rightDeco
    section#about
      .img.abs.right.top
      .wrapper
        span.abs.line
          svg.abs.right.circleSyb(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
            path(fill='#FFFFFF', d='M10,19.7c-5.4,0-9.7-4.4-9.7-9.7S4.6,0.3,10,0.3s9.7,4.4,9.7,9.7S15.4,19.7,10,19.7z M10,2.3 c-4.3,0-7.7,3.5-7.7,7.7c0,4.3,3.5,7.7,7.7,7.7c4.3,0,7.7-3.5,7.7-7.7C17.7,5.7,14.3,2.3,10,2.3z')
            circle(fill='#FFFFFF', cx='10', cy='10', r='5.7')
        p.abs Graphiste et développeur, je façonne mes projets du papier au numérique. Progressant dans plusieurs domaines telles le web design, le développement web, le design graphique et les identités visuelles. Mon objectif est de develloper des idées afin d’embelire et de simplifier le quotidien des citoyens.
            br
            | Passionné par l’Art et les Mathématiques, l’émotionelle et le rationelle, les courbes et les angles, je travaille à allier ces deux grands domaines pour en faire émerger des créations originals.
    section#competence
      .cptTxt
        span.topLine
        h2 COMPETENCES
        span.bottomLine
      .wrapper
        .floatLeft
          include ./include/competence_graph.jade
          h2 GRAPHISME
          span
          ul
            li Identité Visuelle
            li Web Design
            li Affiche
            li Magazine
            li Charte Graphique
        .floatRight
          include ./include/competence_prog.jade
          include ./include/competence_prog_resp.jade
          h2 PROGRAMMATION
          span
          ul
            li HTML
            li CSS
            li Javascript
            li PHP
            li CMS
    section#portfolio
      .cptTxt
        a(href='#portfolio')
          svg.fleche(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100')
            polygon(fill='#FFFFFF', points='7.2,25.3 50,0.6 92.8,25.3 92.8,74.7 50,99.4 7.2,74.7 ')
            polygon.flecheIcn(fill='#252525', points='53.4,50.7 53.4,14.8 46.6,14.8 46.6,50.7 32.9,42.8 32.9,49.3 50,59.2 67.1,49.3 67.1,42.8 ')
        .overflow
          span.topLine
          h2 PORTFOLIO
          span.bottomLine
      .upComptenu
      img.loader(src='images/loader.gif')
      .project#projectView
        .nav.abs.right#projectViewNavRight
          include ./include/navProject_next.jade
          include ./include/navProject_cross.jade
        .nav.abs.left#projectViewNavLeft
          include ./include/navProject_prev.jade
          a(href='#projectList')
            include ./include/navProject_bottom.jade
        .wrap
          h2 
          p

      .wrapper#projectList
        ul
          li#project0
            .wrap
              .img(style='background-image:url("images/projet/tourmaline_min.jpg");')
              .overflow
              .txt
                h2 
                  a(href='http://www.tourmaline-verte.com' target="_blank") La Tourmaline
                p Web Design &amp Développement
                p.desc Isabelle Noth possédait une site internet pour donner des informations sur son activité professionel. Elle souhaitait donc lui donner une touche plus actuel avec un design qui aille en conséquence. Voici donc la nouvelle version que vous pouvez consulter en ligne (
                  a(href='http://www.tourmaline-verte.com' target="_blank") La Tourmaline
                  |), ainsi qu’une présentation du travail effectué ci-dessous.
          li#project1
            .wrap
              .img(style='background-image:url("images/projet/wiseapp_min.jpg");')
              .overflow
              .txt
                h2 TeamWise
                p Application Design
                p.desc Samantha Oss-Pegorar, étudiante à l'université hotelière genevoise, a effecté un stage dans la compagnie SSP qui détiens des restaurants, cafés et bars dans les aéroports suisse. TeamWise est une carte de fidélité valable dans tous les commerces du groupe, proposant des réductions avantageuses dont peuvent bénéficiser les employés travaillant dans ces aéroports.
                  br
                  | Suite à un projet pour améliorer les ventes qui lui a était proposé, Mlle Oss-Pegorar m’a contacté afin concevoir une application pour smartphone en complément de la carte de fidélité TeamWise. Cette application facilite l’accés aux réductions, en donnant les informations des différents points de ventes tels que leurs emplacements et les heures d’ouverture.

          li#project2
            .wrap
              .img(style='background-image:url("images/projet/ipve_min.jpg");')
              .overflow
              .txt
                h2 Julien Brun
                p Tampon encreur
                p.desc Julien Brun, développeur informatique, est parti en antartique, en tant que Magn-Sismo (titre professionel), durant une année dans le cadre d’un programme, TA-65, organisé par l’Institut Polaire Français - Paul Émile Victor. L’organisation propose à tous ses hivernants de leur réaliser un tampon personnalisé, il m’a alors contacté pour en effectuer le design.
          li#project3
            .wrap
              .img(style='background-image:url("images/projet/studentstart_min.jpg");')
              .overflow
              .txt
                h2 Student Start
                p Affiche &amp Carte membre
                p.desc Antoine Boillon, étudiant en commerce, en alternance chez Celio, a proposé un partenariat entre les universités et la chaine commercial pour son projet de fin d’étude. L’aspect graphique et communication a été réalisé par mes soins.
          li#project4
            .wrap
              .img(style='background-image:url("images/projet/insentio_min.jpg");')
              .overflow
              .txt
                h2
                  a(href='ref/insentio' target="_blank") Insentio
                p Web Design &amp Développement
                p.desc Alfred Kwint souhaitait réaliser un site web contenant divers galleries d’artistes et des didacticiels. Ce projet a était réalisé par The Line (projet de création d’une agence de comm’). Vous trouverez une présentation ci-dessous et une visualisation du concept du site web 
                  a(href='ref/insentio' target="_blank") ici
                  |.
          li#project5
            .wrap
              .img(style='background-image:url("images/projet/combistar_min.jpg");')
              .overflow
              .txt
                h2 Combistar
                p Identité Visuelle
                p.desc Projet d’étude. Thématique : Volkswagen lance un nouveau combi, nommé le CombiStar.
                  br
                  | Il a était demandé de réaliser la communication visuelle du produit : logo, affiche, magazine produit, teaser de lancement. Le concept est basé sur l’aspect rétro du véhicule. 
          li#project6
            .wrap
              .img(style='background-image:url("images/projet/theline_min.jpg");')
              .overflow
              .txt
                h2 
                  a(href='ref/theline' target="_blank") The Line
                p Projet d'agence de comm'
                p.desc The Line est le projet de fin d’étude que nous avons réalisé à trois. Le concept était de créer une agence de communication accés sur le digital et les hautes technologies. Nous avons réalisé des projets variés, comprenant de la 3D, du web et des applications, dans un laps de temps réduit dont vous pouvez voir le résulat sur le lien suivant : 
                  a(href='ref/theline' target="_blank") The line
                  |.
          li#project7
            .wrap
              .img(style='background-image:url("images/projet/annecymag_min.jpg");')
              .overflow
              .txt
                h2 Annecy Mag
                p Magasine
                p.desc Projet d’étude. Thématique : La ville d’Annecy souhaite améliorer son identité graphique, entre autre le logo de la ville.
                  br
                  | Le logo a était adouci par rapport à celui d’origine et le magazine bi-mensuel a était repensé afin de promouvoir son utlilisation.
    section#cv
      include ./include/cv_icn.jade
      span.lineCo.absL50.bottom
      div.img
        img(src='images/jeremybarthoux_cv.jpg')
    section#contact
      h2 Contactez moi
      form#formulaire(action='php/formulaire.php', method='post')
        ul
          li
            label(for='nom') Nom :
            input#nom(type='text', name='nom', placeholder='Votre Nom')
            span
          li
            label(for='mail') Email :
            input#mail(type='text', name='mail', placeholder='Votre Email')
            span
          li
            label(for='raison') Sujet :
            input#raison(type='text', name='raison', placeholder='La raison de votre message')
            span
          li
            label.message(for='message') Message :
            textarea#message(name='message', placeholder='Veuillez insérer votre message', rows='13', cols='40')
        input.abs.right.top.submit(type='submit', value='Envoyer')
        span.decoSubmit.abs.top.right
      p.error
    section#map
      span.absL50
        svg.absL50.bottom(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
          path(fill='#2573BA', d='M10,19.7c-5.4,0-9.7-4.4-9.7-9.7S4.6,0.3,10,0.3s9.7,4.4,9.7,9.7S15.4,19.7,10,19.7z M10,2.3 c-4.3,0-7.7,3.5-7.7,7.7c0,4.3,3.5,7.7,7.7,7.7c4.3,0,7.7-3.5,7.7-7.7C17.7,5.7,14.3,2.3,10,2.3z')
          circle(fill='#2573BA', cx='10', cy='10', r='5.7')
    section#link
      .wrapper
        .col3
          h2 Partenaire :
          span.deco1
          ul
            li
              a(href='http://open-dream.com/' target="_blank") Open-dream
            li
              a(href='http://pierre.ammeloot.fr/' target="_blank") Pierre Ammelot
            li
              a(href='http://whale.open-dream.com/' target="_blank") Whales
            li
              a(href='http://www.riderstiming.com/' target="_blank") Rider Stiming
        .col3.mrL
          h2 Outils de développement :
          span.deco2
          ul
            li
              a(href='http://jquery.com/' target="_blank") Jquery
            li
              a(href='http://greensock.com/tweenmax' target="_blank") TweenMax
            li
              a(href='http://gulpjs.com/' target="_blank") Gulp
            li
              a(href='http://slider.extralagence.com/' target="_blank") Extra Slider
        .col3.mrL
          h2 Design &amp Développement :
          span.deco3
          ul
            li
              a(href='http://jeremybarthoux.fr/') Jeremy Barthoux

    script(type='text/javascript', src='scripts/vendor/jquery.min.js')
    script(type='text/javascript').
      var init;
      init = function() { document.getElementById('home').style.height = window.innerHeight + 'px'; };
      init();
        $(window).resize(function() {init();});

    script(type='text/javascript', src='scripts/vendor/gsap.tweenMax.min.js')
    script(type='text/javascript', src='scripts/vendor/extra.slider.js')
    script(type='text/javascript').
      $(document).ready(function() {
        $("#home .slider").extraSlider({
          'type': 'fade',
          'auto': 8,
          'navigate': false,
          'onInit': moveLoader,
          'onMoveStart': moveLoader
        });
        function moveLoader(currentItem, total, slider) {
          autoTween = TweenMax.fromTo(slider.find('.loader'), 8, {width: 0}, {width: "100%"});
          autoTween = TweenMax.fromTo(slider.find('.wrapperTxt'), 1, {right: '-100%'}, {right: '0'});
        }
      });
    
    script(type='text/javascript', src='scripts/vendor/gsap.scrollToPlugin.min.js')
    script(type='text/javascript', src='scripts/vendor/jquery.scrollmagic.min.js')
    //- script(type='text/javascript', src='scripts/vendor/jquery.scrollmagic.debug.js')
    script(type='text/javascript', src='scripts/main.js')
    script(type='text/javascript', src='scripts/vendor/isotope.min.js')
    script(type='text/javascript', src='scripts/vendor/isotope.packery.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
        $('#portfolio .wrapper').isotope({
          itemSelector: 'li',
          layoutMode: 'packery'
        });
      });
    <?php include 'php/buildProject.php' ?>
